.news_container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .news_nav-top {
        width: 100%;
        height: 50px;
        padding: 0px 300px 50px 300px;
        top: 0;
        background-color: seagreen;
        position: absolute;
        ion-button {
            display:flex;
            float: left;
        }
    }
    .news_container_inner {
        padding-top: 50px;
        display: block;
        justify-content: center;
        width: auto;
        max-width: 1000px;
        .news_subject {
            padding: 0 40px;
            margin-bottom: 20px;
            width: 100%;
            position: relative;
            display: block;
            h2, h6 {
                display: block;
            }
            h6 {
                color: #606770;
            }
        }
        .news_content {
            width: 100%;
            .content_rich-text {
                border-width: 0px;
            }
        }
    }
}