.search_container {
    display: flex;
    justify-content: center;
    .search_inner-container {
        max-width: 700px;
        width: 100%;
        position: relative;
        ion-card {
            width: auto;
            border: solid 1px #fff;
            border-radius: 5px;
            transition: .5s;
            ion-card-header {
                position: relative;
                display: block;
                padding: 15px;
                div {
                    display: inline-block;
                    ion-card-title {
                    }
                    ion-card-subtitle {
                    }
                }
                div ion-icon {
                    font-size: 24px;
                    margin: 10px 10px 10px 0px;
                }
            }
            ion-card-content {

            }
            .group-card_owner {
                padding-right: 20px;
                text-align: right;
            }
            .group-card_footer {
                width: 100%;
            }
        }
    }
    // ion-card:hover {
    //     border: solid 1px #13E013;
    //     border-radius: 5px;
    // }
}